<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:fragment="headerFiles">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
            <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}">
            <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/fontawesome.min.css}">
            <link th:href="@{/css/style.css}" rel="stylesheet">

        </th:block>
        <title>Fragment</title>

</head>

<body>
    <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light border border-dark">
        <a class="navbar-brand" th:href="@{/}"><img id="logo" th:src="@{/images/chefs hat.png}"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarContent" aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a></li>

                <li class="nav-item" th:classappend="${#request.getServletPath() == '/add-user' ? 'active' : ''}"
                    sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/add-user}">Sign up</a></li>

                <li class="nav-item" th:classappend="${#request.getServletPath() == '/recipe' ? 'active' : ''}"
                    sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/recipe}">Add Recipe</a></li>

                <li class="nav-item" th:classappend="${#request.getServletPath() == '/display-recipes' ? 'active' : ''}"
                    sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/display-recipes}">Display Recipes</a></li>

                <li class="nav-item" th:classappend="${#request.getServletPath() == '/view-user' ? 'active' : ''}"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/view-user}">View Profile</a></li>

            </ul>
            <a th:href="@{/logout}" class="btn btn-light btn-outline-dark" sec:authorize="isAuthenticated()">Logout</a>
        </div>
    </nav>
    <header class="header" th:fragment="header">
        <div class="container-fluid">
            <div class="row justify-content-center mt-3 mb-3">
                <div class="col-12">
                    <h1 class="text-center"><span style="font-size: 75px">W</span>elcome to No Fluff Kitchen</h1>
                </div>
            </div>
        </div>
    </header>

    <footer class="footer" th:fragment="footer">
        <div class="container text-center">
            <span class="text">Copyright 2021 | Tim Sanders | No Fluff LLC.</span>
        </div>
    </footer>
</body>

<th:block th:fragment="scripts">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</th:block>
</html>