<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headerFiles"></th:block>
    <title>Home</title>
</head>

<body>
<div th:replace="fragments/base :: navigation"></div>
<div th:replace="fragments/base :: header"></div>

<div class="row justify-content-center mt-4">
    <div class="col-12 text-center">
        <img id="sandwhich" th:src="@{/images/Sandwhich.webp}"/>
    </div>
</div>

<br><br>

    <div class="row justify-content-center">
        <div class="col-8 col-md-3 text-center text-dark">
            <a th:href="@{/}"class="ml-3 text-dark" ><i class="fas fa-band-aid fa-7x"></i></a>
            <h2 th:text="${message}">Something is not right here.....</h2>
        </div>
    </div>



<br><br>
<div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>